{% extends 'base.html' %}

{% block title %}
    <title>Добавление заметки</title>
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}

        <form method="post">
        {% csrf_token %}

        {% if form.errors %}

           {{ text.errors }}

           {% endif %}

        {{ form.as_p }}

        <button type="submit">Добавить заметку</button>

        </form>

    {% else %}

        <p>Вы не можете просматривать эту страницу. Выполните вход в систему.</p>

    {% endif %}

{% endblock %}

