{% extends 'base.html' %}

{% block title %}
    <title>Список заметок</title>
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% for note in notes %}


            <div class="card" style="width: 50%; margin-bottom: 20px; margin-left:30%;background: gainsboro">
                <div class="card-body">
                    <h5 class="card-title"> {{ note.published_at }}</h5>
                    <p class="card-text">{{ note.text }}</p>

                </div>
            </div>


        {% endfor %}

    {% else %}

        <p>Вы не можете просматривать эту страницу. Выполните вход в систему.</p>

    {% endif %}

{% endblock %}

