{% extends 'base.html' %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <p>Вы уже зарегистрированы</p>

    {% else %}

       <form method="POST">

            {% csrf_token %}

            <div id="feedback-form" style="margin-top: 10%">

                <h2 class="header">Регистрация</h2>

                <div>

                    {{ form.as_p }}
                </div>

                <button type="submit">Регистрация</button>
            </div>
        </form>

    {% endif %}

{% endblock %}